{% extends "layout.html" %}
{% block body %}
<div>
    <div>
        <form action="{{ url_for('show_notes') }}" method="POST">
            <dt>Topic:</dt>
            <select name="topic">
                <option></option>
                {% for topic in topics %}
                <option value="{{ topic.id }}">{{ topic.title }}</option>
                {% endfor %}
                <input value="Select" type="submit"/>
            </select>
        </form>
    </div>

    <div>
        <form action="{{ url_for('show_notes') }}" method="POST">
            <dt>Subject:</dt>
            <select name="subject">
                <option></option>
                {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.title }}</option>
                {% endfor %}
                <input value="Select" type="submit"/>
            </select>
        </form>
    </div>

    <div>
        <form action="{{ url_for('show_notes') }}" method="POST">
            <dt>Subject:</dt>
            <select name="subject">
                <option></option>
                {% for n in notes %}
                <option value="{{ n.id }}">{{ n.title }}</option>
                {% endfor %}
                <input value="Select" type="submit"/>
            </select>
        </form>
    </div>

</div>


{% endblock %}
